<!doctype html>
<html>
<head>
	<title>Default page</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<style type="text/css">
h1 {
	font-family: 'Oswald', sans-serif;
}
	</style>
</head>
<body>
	<div>
		<h1>Default page</h1>
		<p>You are here because the webserver you reached hasn't been configured for the url you are going to.</p>
	</div>
</body>
</html>