<html>
<head>
	<title>Default site handler</title>
	<style type="text/css">
body {
	font-family: "Helvetica", sans-serif;
}
	</style>
</head>
<body>
	<h1>Default site</h1>
	<p>Finding this page is a sign that the webserver is working but not configured correctly.</p>
</body>
</html>